{% extends "base.html" %}
{% load staticfiles %}
{% block css %}
    <link rel="stylesheet" href="{% static "lists/main.css" %}">
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-xs-2 col-md-3"></div>
    <div class="col-xs-8 col-md-6" id="listBox">
        <div class="panel panel-primary">
            <div class="panel-heading">List Information</div>
            <div class="panel-body">
                <form action="{% url 'lists:create' %}" method="post">                <form action="#" method="post">
                   {% csrf_token %}
                   <div class="form-group">
                       <label class="col-sm-2 control-label">Name:</label>
                       <div class="col-sm-10">
                           <input type="text" name="name" class="form-control" />
                       </div>
                   </div>
                   <input type="submit" value="Save" class="btn btn-primary bottom right"/>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
